<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.embedkit.zigbee"
      android:versionCode="1"
      android:versionName="1.0">
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name="com.embedkit.login.LoginActivity"
    			android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:screenOrientation="landscape"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ZigBeeTool"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:screenOrientation="landscape">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
   
</manifest>